* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.row svg{
  color: rgb(237, 194, 141);
  margin: 10px;
}

.row ul li{
  flex-direction: row;
  display: inline-block;
}

.row a svg{
  text-decoration: none;
    color:rgb(233, 193, 145);
    transition: color 0.5s;
    border: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.row svg:hover{
  border-bottom: 1px solid transparent;
  color: #da954f;
}


