* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Adding dropdown menu by Mohamed*/
/* Start Mohamed */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.container-fluid{
  background-color: rgb(245, 238, 229);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, .10);
  
}
.container-fluid ul{
  margin: 0;
  padding: 0;
  list-style: none;
   
}
.container-fluid li{
  display: inline-block;
}
.container-fluid a{
  color: #444;
  text-decoration: none;
  display: block;
  padding: .5em 1.5em;
}

.container-fluid a:hover{
  color: blue;
  background-color: antiquewhite;
  
}
 

.sub_menu{
  color: antiquewhite;
  width: 100%;
  color: #fff;
  padding: 2em;

}
.container-fluid li:hover .sub_menu{
  background-color: blanchedalmond;

}
.sub_menu a{
  padding: 0;
}
.sawa_one a{
  font-size: 15px;
}


div.row.second-col svg {
  color: rgb(237, 194, 141);
  margin: 10px;
}

div.row.second-col ul li {
  flex-direction: row;
  display: inline;
}

div.row.second-col a svg {
  text-decoration: none;
  color: rgb(233, 193, 145);
  transition: color 0.5s;
  border: 1px solid transparent;
  transition: border-bottom 0.5s;
}

div.row.second-col svg:hover {
  border-bottom: 1px solid transparent;
  color: #da954f;
}

.row-title {
  margin-left: 2%;
  font-size: xx-large;
  font-weight: bolder;
  font-style: normal;
  cursor: pointer;
}

.row-subtitle {
  margin-left: 2%;
  border-top: 2px solid;
  border-color: rgb(110, 179, 179);
  width: 50%;
  cursor: pointer;
}

.row-subtitle h5 {
  margin-top: 2%;
  text-align: center;
  font-style: oblique;
  cursor: pointer;
}

.row-image {
  background-image: url(./Assets/secondChoice.png);
  height: 350px;
  width: 100%;
  max-width: 50%;
  margin-left: 2%;
  background-size: cover;
  cursor: pointer;
}

.row-footer {
  margin-left: 2%;
  margin-top: 2%;
  font-weight: bold;
  cursor: pointer;
}

.row-footerTitle {
  margin-left: 2%;
  margin-top: 2%;
  cursor: pointer;
}

h6 {
  margin-left: 2%;
  margin-top: 2%;
  cursor: pointer;
}

p {
  margin-left: 2%;
  margin-top: 2%;
  cursor: pointer;
}
