* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.row-title {
  margin-left: 2%;
  font-size: xx-large;
  font-weight: bolder;
  font-style: normal;
  cursor: pointer;
}

.row-subtitle {
  margin-left: 2%;
  border-top: 1px solid;
  border-color: rgb(110, 179, 179);
  width: 450px;
  cursor: pointer;
}

.row-subtitle h5 {
  margin-top: 10px;
  text-align: center;
  font-style: oblique;
  cursor: pointer;
}

.row-image {
  background-image: url(./Assets/secondChoice.png);
  height: 350px;
  width: 100%;
  max-width: 50%;
  margin-left: 2%;
  background-size: cover;
  cursor: pointer;
}

.row-footer {
  margin-left: 20px;
  margin-top: 20px;
  font-weight: bold;
  cursor: pointer;
}

.row-footerTitle {
  margin-left: 20px;
  margin-top: 20px;
  cursor: pointer;
}

h6 {
  margin-left: 20px;
  margin-top: 20px;
  cursor: pointer;
}

p {
  margin-left: 20px;
  margin-top: 20px;
  cursor: pointer;
}
